# Xcode
.DS_Store
build/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate

# Swift Package
.build/
.swiftpm/

# User-specific Xcode data
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
